<section id="ancla-formacion">
    <div class="logo_educacion">  
        <h1> Educación  </h1> &nbsp; &nbsp;
      
        <img src="https://img.icons8.com/ultraviolet/80/000000/source-code.png"/>
    </div> 
    
    <ul  class="formacion" *ngFor = "let temp of ListadoAntecedentes"  >        
        <li id="formacion_id" >{{temp.id}}</li> <br>
        <li>{{temp.area}}</li>
        <li>{{temp.institucion}}</li> 
        
    </ul>
</section>
<!--
        <li>
            <img src="https://img.icons8.com/ultraviolet/80/000000/source-code.png"/>
            <p>Argentina Programa</p>
            <p>Ministerio de Desarrollo</p>
        </li>

        <li>
            <img src="https://img.icons8.com/ultraviolet/80/000000/linkedin.png"/>
            <p>Full Stack</p>
            <p>LinkedIn Learning</p>
        </li>
        
        <li>
            <img src="https://img.icons8.com/ultraviolet/80/000000/user-group-woman-woman.png"/>
            <p>Sensibilización en Genero</p>
            <p>Instituto de la Administracion</p>
        </li>
       
        <li><img src="https://img.icons8.com/ultraviolet/80/000000/university.png"/>
            <p>Abogacia</p>
            <p>Universidad de Buenos Aires</p>
        </li>                             
    </ul>            
</section>
-->




