<section id="ancla-proyectos">          
    <ul  class="proyectos">
        <h1>Proyectos</h1>
                        
        
        <li> 
            <h4> Escuela de Futbol Infantil</h4>
            <img class="imagen-proyecto" src="../assets/schoolSoccer.PNG" width="250" height="180" alt="">
            <p>Pagina web donde se aplicó HTML, BOOTSTRAP y JS</p>
            <a href="https://soccercac.000webhostapp.com/" target="_blank" class="btn btn-primary">Ver Proyecto</a>
        </li>

        <li> 
            <h4> Barberia</h4>
            <img class="imagen-proyecto" src="../assets/barberia2.PNG" width="250" height="180" alt="">
            <p>Pagina web de Barberia donde se uso HTML y CSS</p>
            <a href="https://pedro410ar.github.io/Barberia/" target="_blank" class="btn btn-primary">Ver Proyecto</a>
        </li>

        <li> 
            <h4> Micrositio de Prestamos</h4>
            <img class="imagen-proyecto" src="../assets/prestamos2.PNG"  width="250" height="180" alt="">
            <p>Pagina web donde se aplicó HTML, CSS y JS</p>
            <a href="https://pedro410ar.github.io/Microprestamos/" target="_blank" class="btn btn-primary">Ver Proyecto</a>
        </li>

        
        <li> 
            <h4> Elección de Tarjetas Prepagas </h4>
            <img class="imagen-proyecto" src="assets/tarjetas.PNG" width="250" height="180" alt="">
            <p>Pagina web donde se aplicó HTML, CSS y JS</p>
            <a href="https://pedro410ar.github.io/TarjetasPrepagas/" target="_blank" class="btn btn-primary">Ver Proyecto</a>
        </li>

    </ul>
</section>
