body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background: linear-gradient(298.63deg, rgba(63, 194, 172, 0.53) 43.16%, rgba(30, 122, 184, 0.4) 92.58%, rgba(53, 190, 218, 0.53));
}