<section>
    <div>
        <img  class="banner" src="assets/banner.png" alt="">
    </div>
    
</section>
    
<section>
    <h1 id="portfolio"> PORTFOLIO 
        <h5> Pedro A. Arruvito</h5>
    </h1>     
</section>

<!--
<section>  
            
    <nav >
        
       
            <li> <a href="#">Sobre mi </a> </li>
            <li> <a href="#">Skills</a></li>
            <li> <a href="#">Educación</a> </li>
            <li> <a href="#">Proyectos</a></li>
                        
    </nav>  
    
</section>
-->
