<section id="ancla-skills">
    <div class="skills">
        <h1 id="titulo-skills">Skills</h1>  
        <ul>
            <li><img src="https://img.icons8.com/ultraviolet/80/000000/html--v1.png"/> 
                <p>LENGUAJE HTML5</p>
            </li>
            
            <li> <img src="https://img.icons8.com/ultraviolet/80/000000/css.png"/>
                <p>LENGUAJE CSS3 </p>
            </li>
            <li> <img src="https://img.icons8.com/ultraviolet/80/000000/js.png"/> 
                <p>LENGUAJE JAVASCRIPT</p>
            </li>
                
            <li> <img src="https://img.icons8.com/office/80/000000/meeting-room.png"/>
                <p>METODOLOGIA SCRUM </p>
            </li>
            <li> <img src="https://img.icons8.com/officel/80/000000/mysql.png"/>
                <p>LENGUAJE MySQL</p>
            </li>

            <li> <img src="https://img.icons8.com/office/80/000000/groups.png"/>
                <p>IGUALDAD DE GENERO</p>
            </li>
        </ul>                

    </div>
</section>
